<tr <%= entryStyle %> >
    <td><%= idText %></td>
    <td><%= taskDisplayedName %></td>
    <td><%= taskDate %></td>
    <td><%= taskCompletedAsString %></td>
    <td>
        <input class="btn btn-primary btn-xs"
                <%= completeButtonStyle %>
                data-id='<%= taskId %>'
                value="complete">
    </td>
    <td><%= taskAttachmentFileDisplayedName %></td>
    <td>
        <input class="btn btn-default btn-xs"
                <%= downloadButtonStyle %>
                data-id="<%= taskId %>"
                value="download">
    </td>
    <td>
        <input class="btn btn-default btn-xs"
                data-id="<%= taskId %>"
                value="edit">
    </td>
    <td>
        <input type="submit" class="btn btn-danger btn-xs"
                data-id="<%= taskId %>"
                value="remove">
    </td>
</tr>