<tr <%= entryStyle %> >
    <td><%= idText %></td>
    <td><%= taskDisplayedName %></td>
    <td><%= taskDate %></td>
    <td><%= taskCompletedAsString %></td>
    <td>
        <button class="btn btn-primary btn-xs completeButtonLink"
                <%= completeButtonStyle %>
                data-id='<%= taskId %>'
                value="complete"></button>
    </td>
    <td><%= taskAttachmentFileDisplayedName %></td>
    <td>
        <button class="btn btn-default btn-xs downloadButtonLink"
                <%= downloadButtonStyle %>
                data-id="<%= taskId %>"
                value="download"></button>
    </td>
    <td>
        <button class="btn btn-default btn-xs editButtonLink"
                data-id="<%= taskId %>"
                value="edit"></button>
    </td>
    <td>
        <button type="submit" class="btn btn-danger btn-xs removeButtonLink"
                data-id="<%= taskId %>"
                value="remove"></button>
    </td>
</tr>