<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= titleText %></title>
    <link href='/stylesheets/style.css'
          rel='stylesheet' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" />
    <!--<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>-->
</head>
<body>
    <h2><%= titleText %></h2>
    <form method="post" encType="multipart/form-data">

        <!-- Input Values of isMainFormEdited   -->
        <!-- 1 Created  | ""  -->
        <!-- 2 Edited   | "true"  -->
        <input type="hidden" name="isMainFormEdited"  value="<%= isMainFormEdited %>" />
        <input type="hidden" name="isMainForm"  value="true" />
        <input type="hidden" name="taskId"  value="<%= mainFormTaskId %>" />

        <div class="form-group">
            <label for="taskName"><%= nameText %></label>
            <!--placeholder="* Required."-->
            <input required maxlength="50"  tabindex="1"
                   placeholder="<%= taskNameValue %>"
                   class="form-control" name="taskName" >
        </div>

        <div class="form-group">
            <label for="taskDate"><%= dateText %></label>
            <!--add required-->
            <input required tabindex="2" class="form-control"
                   type="datetime-local" name="taskDate"
                   value="<%= taskDateValue %>"
            >
        </div>

        <div class="form-group">
            <label for="taskAttachmentFileName"><%= attachmentText %></label>
            <input tabindex="3" class="form-control"
                   type="file" name="taskAttachmentFileName"
                   value="<%= taskAttachmentValue %>" >
        </div>

        <div class="panel-body">
            <button tabindex="4" type="submit" class="btn btn-primary">
                <%= saveText %></button>
            <input tabindex="5" type="reset" class="btn btn-danger"
                   value="<%= resetText %>">
        </div>
    </form>

    <table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th><%= idText %></th>
        <th><%= nameText %></th>
        <th><%= dateText %></th>
        <th><%= completedText %></th>
        <th></th>
        <th><%= attachmentText %></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <% content.forEach(function(task) {%>
            <%- include('task', task); %>
        <% }); %>
    </tbody>
    </table>
</body>
</html>