<tr>



    <form action="/action_page.js">
        <%= title %>
        <input type="text" name="title" value="">
        <%= state %><br><br>
        <%= date %>
        <input type="datetime-local" name="date"><br><br>
        <%= loadedFile %>
        <input type="file" name="loadedFile">
        <input type="submit" value="Submit">
        <input type="reset">
    </form>


    <% if(emailsVisible) {%>
        <h3>addr</h3>
        <ul>
            <% for(var i=0; i<emails.length;i++) {%>
            <li><%=emails[i] %></li>
            <%} %>
        </ul>
    <% }else {%>
        <h3>absent</h3>
    <%} %>
    <p>pho: <%=phone %></p>


</tr>
